@model GroupMessage

<td>
    @Html.DisplayFor(modelItem => Model.Id)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.User.FullName)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Group.Name)
</td>
<td>
    @if (@Model.Attachment != null)
    {
        <a class="image-popup-no-margins" href="@Model.Attachment.AttachmentURL">
            <img class="img-thumbnail img-fluid" src="@Model.Attachment.AttachmentURL" width="75">
        </a>
    }
</td>

