@model User

<td>
    @Html.DisplayFor(modelItem => Model.Id)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.FullName)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Phone)
</td>
<td>
    <a class="image-popup-no-margins" href="@Model.ImageURL">
        <img class="img-thumbnail img-fluid" src="@Model.ImageURL " width="75">
    </a>
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsActive)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Language.Name)
</td>
<td>
    <a asp-action="Index" asp-controller="User" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_User", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.MyUserContacts.Count)
    </a>
</td>
<td>
    <a asp-action="Index" asp-controller="User" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_Contact", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.MeInUserContacts.Count)
    </a>
</td>
<td>
    <a asp-action="Index" asp-controller="Group" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_User", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.Groups.Count)
    </a>
</td>
<td>
    <a asp-action="Index" asp-controller="GroupMember" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_User", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.GroupMembers.Count)
    </a>
</td>
<td>
    <a asp-action="Index" asp-controller="GroupMessage" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_User", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.GroupMessages.Count)
    </a>
</td>

