@model SystemUser

<td>
    @Html.DisplayFor(modelItem => Model.Id)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.FullName)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.JopTitle)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Email)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.ControlLevel.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsActive)
</td>

