@model Group

<td>
    @Html.DisplayFor(modelItem => Model.Id)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
<td>
    <a class="image-popup-no-margins" href="@Model.LogoURL">
        <img class="img-thumbnail img-fluid" src="@Model.LogoURL" width="75">
    </a>
</td>
<td>
    @Html.DisplayFor(modelItem => Model.MaxGroupCount)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.MaxStreamCount)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.SessionId)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsActive)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Creator.FullName)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.GroupMembers.Count)
</td>

