@model Group

<td>
    @Html.DisplayFor(modelItem => Model.Id)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
<td>
    <a class="image-popup-no-margins" href="@Model.LogoURL">
        <img class="img-thumbnail img-fluid" src="@Model.LogoURL" width="75">
    </a>
</td>
<td>
    <a asp-action="Index" asp-controller="User" asp-all-route-data="@(new Dictionary<string, string> { { "Id", Model.Creator.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.Creator.FullName)
    </a>
</td>
<td>
    @Html.DisplayFor(modelItem => Model.MaxGroupCount)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.MaxStreamCount)
</td>
<td>
    <a asp-action="Index" asp-controller="GroupMember" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_Group", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.GroupMembers.Count)
    </a>
</td>
<td>
    <a asp-action="Index" asp-controller="GroupMessage" asp-all-route-data="@(new Dictionary<string, string> { { "Fk_Group", Model.Id.ToString() } })" target="_blank">
        @Html.DisplayFor(modelItem => Model.GroupMessages.Count)
    </a>
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsActive)
</td>

